{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}
{{ produto.nome }}
{% endblock %}

{% block 'conteudo' %}
<link rel="stylesheet" href="{% static 'css/produto.css' %}">
<div class="container-produto">
        <div class="view">
                <iframe title="teste"
                        src="{{ produto.linkUrl }}">
                </iframe>

        </div>

        <div class="infos">
                <a href="{% url 'produtos' %}"><div class="botao">Back</div></a>
        </div>
</div>

{% endblock %}