{% extends 'base.html' %}

{% block 'titulo' %}
cadastro
{% endblock %}

{% block 'conteudo' %}
<h1>cadastro</h1>

<form method="post" action="{% url 'cadastro' %}">
    {% csrf_token %}

      <div class="mb-3">
    <label class="form-label">Nome</label>
    <input type="text" name="nome" value="{{ request.POST.nome }}" class="form-control">
  </div>
      <div class="mb-3">
    <label class="form-label">Sobrenome</label>
    <input type="text" name="sobrenome" value="{{ request.POST.sobrenome }}" class="form-control">
  </div>
      <div class="mb-3">
    <label class="form-label">usuario</label>
    <input type="text" name="usuario" value="{{ request.POST.usuario }}" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" name="email" value="{{ request.POST.email }}" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">senha</label>
    <input type="password" name="senha" class="form-control">
  </div>
    <div class="mb-3">
    <label class="form-label">repetir a senha</label>
    <input type="password" name="senha2" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}